# OS X
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa

# Bundler
.bundle

# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
# 
# Note: if you ignore the Pods directory, make sure to uncomment
# `pod install` in .travis.yml
#
# Pods/
Example/Pods/WWBaseLib/WWBaseLib/Classes/DataHelp.h
Example/Pods/WWBaseLib/WWBaseLib/Classes/NSInvocation+MethodIntercept.h
Example/Pods/WWBaseLib/WWBaseLib/Classes/NSInvocation+MethodIntercept.m
Example/Pods/WWBaseLib/WWBaseLib/Classes/NSObject+Singleton.h
Example/Pods/WWBaseLib/WWBaseLib/Classes/NSObject+Singleton.m
Example/Pods/WWBaseLib/WWBaseLib/Classes/UIApplication+Transition.h
Example/Pods/WWBaseLib/WWBaseLib/Classes/UIApplication+Transition.m
Example/Pods/WWBaseLib/WWBaseLib/Classes/UIView+Frame.h
Example/Pods/WWBaseLib/WWBaseLib/Classes/UIView+Frame.m
Example/Pods/Target Support Files/WWBaseLib/WWBaseLib-dummy.m
Example/Pods/Target Support Files/WWBaseLib/WWBaseLib-prefix.pch
Example/Pods/Target Support Files/WWBaseLib/WWBaseLib-umbrella.h
Example/Pods/Target Support Files/WWBaseLib/WWBaseLib.modulemap
Example/Pods/Target Support Files/WWBaseLib/WWBaseLib.xcconfig
Example/Pods/Target Support Files/Pods-WWPageController_Tests/Pods-WWPageController_Tests-acknowledgements.markdown
Example/Pods/Target Support Files/Pods-WWPageController_Tests/Pods-WWPageController_Tests-acknowledgements.plist
Example/Pods/Target Support Files/Pods-WWPageController_Tests/Pods-WWPageController_Tests-dummy.m
Example/Pods/Target Support Files/Pods-WWPageController_Tests/Pods-WWPageController_Tests-frameworks.sh
Example/Pods/Target Support Files/Pods-WWPageController_Tests/Pods-WWPageController_Tests-resources.sh
Example/Pods/Target Support Files/Pods-WWPageController_Tests/Pods-WWPageController_Tests-umbrella.h
Example/Pods/Target Support Files/Pods-WWPageController_Tests/Pods-WWPageController_Tests.debug.xcconfig
Example/Pods/Target Support Files/Pods-WWPageController_Tests/Pods-WWPageController_Tests.modulemap
Example/Pods/Target Support Files/Pods-WWPageController_Tests/Pods-WWPageController_Tests.release.xcconfig
Example/Tests/Tests-Info.plist
Example/Tests/Tests-Prefix.pch
Example/Tests/Tests.m
Example/Tests/en.lproj/InfoPlist.strings
Example/Pods/Target Support Files/YYKit/YYKit-prefix.pch
Example/Pods/Target Support Files/YYKit/YYKit-umbrella.h
Example/Pods/WWBaseLib/WWBaseLib/Classes/Catagroy/NSInvocation+MethodIntercept.h
Example/Pods/WWBaseLib/WWBaseLib/Classes/Catagroy/NSInvocation+MethodIntercept.m
Example/Pods/WWBaseLib/WWBaseLib/Classes/Catagroy/NSObject+Single.h
Example/Pods/WWBaseLib/WWBaseLib/Classes/Catagroy/NSObject+Single.m
Example/Pods/WWBaseLib/WWBaseLib/Classes/Catagroy/UIApplication+Transition.h
Example/Pods/WWBaseLib/WWBaseLib/Classes/Catagroy/UIApplication+Transition.m
Example/Pods/WWBaseLib/WWBaseLib/Classes/Catagroy/UIView+Frame.h
Example/Pods/WWBaseLib/WWBaseLib/Classes/Catagroy/UIView+Frame.m
Example/Pods/WWBaseLib/WWBaseLib/Classes/Foundation/DataHelp.h
Example/Pods/WWBaseLib/WWBaseLib/Classes/Foundation/WWOrderedDictionary.h
Example/Pods/WWBaseLib/WWBaseLib/Classes/Foundation/WWOrderedDictionary.m
Example/Pods/YYKit/Vendor/WebP.framework/WebP
Example/Pods/YYKit/Vendor/WebP.framework/Headers/config.h
Example/Pods/YYKit/Vendor/WebP.framework/Headers/decode.h
Example/Pods/YYKit/Vendor/WebP.framework/Headers/demux.h
Example/Pods/YYKit/Vendor/WebP.framework/Headers/encode.h
Example/Pods/YYKit/Vendor/WebP.framework/Headers/extras.h
Example/Pods/YYKit/Vendor/WebP.framework/Headers/format_constants.h
Example/Pods/YYKit/Vendor/WebP.framework/Headers/mux.h
Example/Pods/YYKit/Vendor/WebP.framework/Headers/mux_types.h
Example/Pods/YYKit/YYKit/YYKit.h
Example/Pods/YYKit/YYKit/Base/YYKitMacro.h
Example/Pods/YYKit/YYKit/Base/Foundation/NSArray+YYAdd.h
Example/Pods/YYKit/YYKit/Base/Foundation/NSArray+YYAdd.m
Example/Pods/YYKit/YYKit/Base/Foundation/NSBundle+YYAdd.h
Example/Pods/YYKit/YYKit/Base/Foundation/NSBundle+YYAdd.m
Example/Pods/YYKit/YYKit/Base/Foundation/NSData+YYAdd.h
Example/Pods/YYKit/YYKit/Base/Foundation/NSData+YYAdd.m
Example/Pods/YYKit/YYKit/Base/Foundation/NSDate+YYAdd.h
Example/Pods/YYKit/YYKit/Base/Foundation/NSDate+YYAdd.m
Example/Pods/YYKit/YYKit/Base/Foundation/NSDictionary+YYAdd.h
Example/Pods/YYKit/YYKit/Base/Foundation/NSDictionary+YYAdd.m
Example/Pods/YYKit/YYKit/Base/Foundation/NSKeyedUnarchiver+YYAdd.h
Example/Pods/YYKit/YYKit/Base/Foundation/NSKeyedUnarchiver+YYAdd.m
Example/Pods/YYKit/YYKit/Base/Foundation/NSNotificationCenter+YYAdd.h
Example/Pods/YYKit/YYKit/Base/Foundation/NSNotificationCenter+YYAdd.m
Example/Pods/YYKit/YYKit/Base/Foundation/NSNumber+YYAdd.h
Example/Pods/YYKit/YYKit/Base/Foundation/NSNumber+YYAdd.m
Example/Pods/YYKit/YYKit/Base/Foundation/NSObject+YYAdd.h
Example/Pods/YYKit/YYKit/Base/Foundation/NSObject+YYAdd.m
Example/Pods/YYKit/YYKit/Base/Foundation/NSObject+YYAddForARC.h
Example/Pods/YYKit/YYKit/Base/Foundation/NSObject+YYAddForARC.m
Example/Pods/YYKit/YYKit/Base/Foundation/NSObject+YYAddForKVO.h
Example/Pods/YYKit/YYKit/Base/Foundation/NSObject+YYAddForKVO.m
Example/Pods/YYKit/YYKit/Base/Foundation/NSString+YYAdd.h
Example/Pods/YYKit/YYKit/Base/Foundation/NSString+YYAdd.m
Example/Pods/YYKit/YYKit/Base/Foundation/NSThread+YYAdd.h
Example/Pods/YYKit/YYKit/Base/Foundation/NSThread+YYAdd.m
Example/Pods/YYKit/YYKit/Base/Foundation/NSTimer+YYAdd.h
Example/Pods/YYKit/YYKit/Base/Foundation/NSTimer+YYAdd.m
Example/Pods/YYKit/YYKit/Base/Quartz/CALayer+YYAdd.h
Example/Pods/YYKit/YYKit/Base/Quartz/CALayer+YYAdd.m
Example/Pods/YYKit/YYKit/Base/Quartz/YYCGUtilities.h
Example/Pods/YYKit/YYKit/Base/Quartz/YYCGUtilities.m
Example/Pods/YYKit/YYKit/Base/UIKit/UIApplication+YYAdd.h
Example/Pods/YYKit/YYKit/Base/UIKit/UIApplication+YYAdd.m
Example/Pods/YYKit/YYKit/Base/UIKit/UIBarButtonItem+YYAdd.m
Example/Pods/YYKit/YYKit/Base/UIKit/UIBezierPath+YYAdd.h
Example/Pods/YYKit/YYKit/Base/UIKit/UIBezierPath+YYAdd.m
Example/Pods/YYKit/YYKit/Base/UIKit/UIColor+YYAdd.h
Example/Pods/YYKit/YYKit/Base/UIKit/UIColor+YYAdd.m
Example/Pods/YYKit/YYKit/Base/UIKit/UIControl+YYAdd.h
Example/Pods/YYKit/YYKit/Base/UIKit/UIControl+YYAdd.m
Example/Pods/YYKit/YYKit/Base/UIKit/UIDevice+YYAdd.h
Example/Pods/YYKit/YYKit/Base/UIKit/UIDevice+YYAdd.m
Example/Pods/YYKit/YYKit/Base/UIKit/UIFont+YYAdd.h
Example/Pods/YYKit/YYKit/Base/UIKit/UIFont+YYAdd.m
Example/Pods/YYKit/YYKit/Base/UIKit/UIGestureRecognizer+YYAdd.h
Example/Pods/YYKit/YYKit/Base/UIKit/UIGestureRecognizer+YYAdd.m
Example/Pods/YYKit/YYKit/Base/UIKit/UIImage+YYAdd.h
Example/Pods/YYKit/YYKit/Base/UIKit/UIImage+YYAdd.m
Example/Pods/YYKit/YYKit/Base/UIKit/UIScreen+YYAdd.h
Example/Pods/YYKit/YYKit/Base/UIKit/UIScreen+YYAdd.m
Example/Pods/YYKit/YYKit/Base/UIKit/UIScrollView+YYAdd.m
Example/Pods/YYKit/YYKit/Base/UIKit/UITableView+YYAdd.h
Example/Pods/YYKit/YYKit/Base/UIKit/UITableView+YYAdd.m
Example/Pods/YYKit/YYKit/Base/UIKit/UITextField+YYAdd.h
Example/Pods/YYKit/YYKit/Base/UIKit/UITextField+YYAdd.m
Example/Pods/YYKit/YYKit/Base/UIKit/UIView+YYAdd.h
Example/Pods/YYKit/YYKit/Base/UIKit/UIView+YYAdd.m
Example/Pods/YYKit/YYKit/Cache/YYCache.h
Example/Pods/YYKit/YYKit/Cache/YYCache.m
Example/Pods/YYKit/YYKit/Cache/YYDiskCache.h
Example/Pods/YYKit/YYKit/Cache/YYDiskCache.m
Example/Pods/YYKit/YYKit/Cache/YYKVStorage.h
Example/Pods/YYKit/YYKit/Cache/YYKVStorage.m
Example/Pods/YYKit/YYKit/Cache/YYMemoryCache.h
Example/Pods/YYKit/YYKit/Cache/YYMemoryCache.m
Example/Pods/YYKit/YYKit/Image/YYAnimatedImageView.h
Example/Pods/YYKit/YYKit/Image/YYAnimatedImageView.m
Example/Pods/YYKit/YYKit/Image/YYFrameImage.h
Example/Pods/YYKit/YYKit/Image/YYFrameImage.m
Example/Pods/YYKit/YYKit/Image/YYImage.h
Example/Pods/YYKit/YYKit/Image/YYImage.m
Example/Pods/YYKit/YYKit/Image/YYImageCache.h
Example/Pods/YYKit/YYKit/Image/YYImageCache.m
Example/Pods/YYKit/YYKit/Image/YYImageCoder.h
Example/Pods/YYKit/YYKit/Image/YYImageCoder.m
Example/Pods/YYKit/YYKit/Image/YYSpriteSheetImage.h
Example/Pods/YYKit/YYKit/Image/YYSpriteSheetImage.m
Example/Pods/YYKit/YYKit/Image/YYWebImageManager.h
Example/Pods/YYKit/YYKit/Image/YYWebImageManager.m
Example/Pods/YYKit/YYKit/Image/YYWebImageOperation.h
Example/Pods/YYKit/YYKit/Image/YYWebImageOperation.m
Example/Pods/YYKit/YYKit/Image/Categories/_YYWebImageSetter.h
Example/Pods/YYKit/YYKit/Image/Categories/_YYWebImageSetter.m
Example/Pods/YYKit/YYKit/Image/Categories/CALayer+YYWebImage.h
Example/Pods/YYKit/YYKit/Image/Categories/CALayer+YYWebImage.m
Example/Pods/YYKit/YYKit/Image/Categories/MKAnnotationView+YYWebImage.h
Example/Pods/YYKit/YYKit/Image/Categories/MKAnnotationView+YYWebImage.m
Example/Pods/YYKit/YYKit/Image/Categories/UIButton+YYWebImage.m
Example/Pods/YYKit/YYKit/Image/Categories/UIImageView+YYWebImage.h
Example/Pods/YYKit/YYKit/Image/Categories/UIImageView+YYWebImage.m
Example/Pods/YYKit/YYKit/Model/NSObject+YYModel.h
Example/Pods/YYKit/YYKit/Model/NSObject+YYModel.m
Example/Pods/YYKit/YYKit/Model/YYClassInfo.h
Example/Pods/YYKit/YYKit/Model/YYClassInfo.m
Example/Pods/YYKit/YYKit/Text/YYLabel.h
Example/Pods/YYKit/YYKit/Text/YYLabel.m
Example/Pods/YYKit/YYKit/Text/YYTextView.h
Example/Pods/YYKit/YYKit/Text/YYTextView.m
Example/Pods/YYKit/YYKit/Text/Component/YYTextContainerView.h
Example/Pods/YYKit/YYKit/Text/Component/YYTextContainerView.m
Example/Pods/YYKit/YYKit/Text/Component/YYTextDebugOption.h
Example/Pods/YYKit/YYKit/Text/Component/YYTextEffectWindow.h
Example/Pods/YYKit/YYKit/Text/Component/YYTextEffectWindow.m
Example/Pods/YYKit/YYKit/Text/Component/YYTextInput.h
Example/Pods/YYKit/YYKit/Text/Component/YYTextInput.m
Example/Pods/YYKit/YYKit/Text/Component/YYTextKeyboardManager.h
Example/Pods/YYKit/YYKit/Text/Component/YYTextKeyboardManager.m
Example/Pods/YYKit/YYKit/Text/Component/YYTextLayout.h
Example/Pods/YYKit/YYKit/Text/Component/YYTextLayout.m
Example/Pods/YYKit/YYKit/Text/Component/YYTextLine.h
Example/Pods/YYKit/YYKit/Text/Component/YYTextLine.m
Example/Pods/YYKit/YYKit/Text/Component/YYTextMagnifier.h
Example/Pods/YYKit/YYKit/Text/Component/YYTextMagnifier.m
Example/Pods/YYKit/YYKit/Text/Component/YYTextSelectionView.h
Example/Pods/YYKit/YYKit/Text/String/NSAttributedString+YYText.h
Example/Pods/YYKit/YYKit/Text/String/NSAttributedString+YYText.m
Example/Pods/YYKit/YYKit/Text/String/NSParagraphStyle+YYText.h
Example/Pods/YYKit/YYKit/Text/String/NSParagraphStyle+YYText.m
Example/Pods/YYKit/YYKit/Text/String/UIPasteboard+YYText.m
Example/Pods/YYKit/YYKit/Text/String/YYTextArchiver.h
Example/Pods/YYKit/YYKit/Text/String/YYTextArchiver.m
Example/Pods/YYKit/YYKit/Text/String/YYTextAttribute.h
Example/Pods/YYKit/YYKit/Text/String/YYTextAttribute.m
Example/Pods/YYKit/YYKit/Text/String/YYTextParser.h
Example/Pods/YYKit/YYKit/Text/String/YYTextParser.m
Example/Pods/YYKit/YYKit/Text/String/YYTextRubyAnnotation.h
Example/Pods/YYKit/YYKit/Text/String/YYTextRubyAnnotation.m
Example/Pods/YYKit/YYKit/Text/String/YYTextRunDelegate.h
Example/Pods/YYKit/YYKit/Text/String/YYTextRunDelegate.m
Example/Pods/YYKit/YYKit/Text/String/YYTextUtilities.h
Example/Pods/YYKit/YYKit/Text/String/YYTextUtilities.m
Example/Pods/YYKit/YYKit/Utility/YYAsyncLayer.h
Example/Pods/YYKit/YYKit/Utility/YYAsyncLayer.m
Example/Pods/YYKit/YYKit/Utility/YYDispatchQueuePool.h
Example/Pods/YYKit/YYKit/Utility/YYDispatchQueuePool.m
Example/Pods/YYKit/YYKit/Utility/YYFileHash.h
Example/Pods/YYKit/YYKit/Utility/YYFileHash.m
Example/Pods/YYKit/YYKit/Utility/YYGestureRecognizer.h
Example/Pods/YYKit/YYKit/Utility/YYGestureRecognizer.m
Example/Pods/YYKit/YYKit/Utility/YYKeychain.h
Example/Pods/YYKit/YYKit/Utility/YYKeychain.m
Example/Pods/YYKit/YYKit/Utility/YYReachability.h
Example/Pods/YYKit/YYKit/Utility/YYReachability.m
Example/Pods/YYKit/YYKit/Utility/YYSentinel.h
Example/Pods/YYKit/YYKit/Utility/YYSentinel.m
Example/Pods/YYKit/YYKit/Utility/YYThreadSafeArray.h
Example/Pods/YYKit/YYKit/Utility/YYThreadSafeArray.m
Example/Pods/YYKit/YYKit/Utility/YYThreadSafeDictionary.h
Example/Pods/YYKit/YYKit/Utility/YYThreadSafeDictionary.m
Example/Pods/YYKit/YYKit/Utility/YYTimer.h
Example/Pods/YYKit/YYKit/Utility/YYTimer.m
Example/Pods/YYKit/YYKit/Utility/YYTransaction.h
Example/Pods/YYKit/YYKit/Utility/YYTransaction.m
Example/Pods/YYKit/YYKit/Utility/YYWeakProxy.h
Example/Pods/YYKit/YYKit/Utility/YYWeakProxy.m
